*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

html {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 12px;
  background: var(--bg);
  color: var(--accent);

  --container-width: 80vw;

  --bg: white;
  --accent: black;
  --gradient: var(--accent);
  --experiments: linear-gradient(90deg, #ffc700, #f7c13a);

  &[data-theme="light"] {
    --bg: white;
    --accent: black;
    --gradient: var(--accent);
    --experiments: linear-gradient(90deg, #ffc700, #f7c13a);
  }

  &[data-theme="dark"] {
    --bg: black;
    --accent: white;
    --gradient: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    --experiments: linear-gradient(90deg, #2680f8, #006cae);
  }
}

// Media Queries

@media (prefers-color-scheme: dark) {
  html {
    --bg: black;
    --accent: white;
    --gradient: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    --experiments: linear-gradient(90deg, #2680f8, #006cae);
  }
}

@media (min-width: 600px) {
  html {
    --container-width: 60vw;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 16px;
  }
}
