.slider {
  background: black;
  overflow: hidden;

  svg {
    fill: white;
  }

  .buttons {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }

  button {
    display: flex;
    background: transparent;
    border: none;
    height: 30px;
    margin: 20px 0;
    padding: 0;
  }

  .next {
    transform: scaleY(-1);
  }

  .part {
    flex: 1;
  }

  img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    pointer-events: none;
  }
}
