// CSS Setup

$font: Montserrat, Arial, sans-serif;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

html {
  font-family: $font;
  font-size: 12px;
  background: var(--bg);
  color: var(--accent);

  --bg: white;
  --accent: black;
  --button: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);

  &.dark {
    --bg: black;
    --accent: white;
    --button: var(--accent);
  }
}

// CSS Sections

nav {
  margin: 2rem;
}

.moon {
  width: fit-content;
  margin-left: auto;
}

section {
  display: grid;
  height: 100vh;
}

.container {
  width: 80vw;
  height: 80vh;
  align-self: center;
  justify-self: center;
}

footer {
  margin: 1.5rem auto;
  align-self: end;
}

// CSS Components

button {
  background: var(--button);
  color: var(--bg);
  font-family: $font;
  font-weight: 700;
  height: fit-content;
  border: none;
  border-radius: 2em;
  padding: 1em 2em;
  margin: 0 auto;
  transition: all ease 0.2s;
}

img {
  width: 100%;
  display: block;
}

svg {
  width: 1.75rem;
  fill: var(--accent);
}

.hidden {
  display: none;
}

// Imported Styles

@import "index";
@import "slider";

// Media Queries

@media (hover: hover) {
  button {
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }

  svg {
    cursor: pointer;
  }

  .index {
    .emojis {
      cursor: pointer;

      &:hover {
        transform: scale(1.3);
      }
    }

    .fourth svg {
      width: 1rem;
    }
  }

  .slider {
    .prev:active {
      transform: translateY(8px);
    }

    .next:active {
      transform: scaleY(-1) translateY(8px);
    }
  }
}

@media (min-width: 600px) {
  .container {
    width: 60vw;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 16px;
  }
}
