@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

html {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 12px;
  background: var(--bg);
  color: var(--accent);
  --container-width: 80vw;
  --bg: white;
  --accent: black;
  --gradient: var(--accent);
  --experiments: linear-gradient(90deg, #ffc700, #f7c13a);
}
html[data-theme=light] {
  --bg: white;
  --accent: black;
  --gradient: var(--accent);
  --experiments: linear-gradient(90deg, #ffc700, #f7c13a);
}
html[data-theme=dark] {
  --bg: black;
  --accent: white;
  --gradient: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  --experiments: linear-gradient(90deg, #2680f8, #006cae);
}

@media (prefers-color-scheme: dark) {
  html {
    --bg: black;
    --accent: white;
    --gradient: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    --experiments: linear-gradient(90deg, #2680f8, #006cae);
  }
}
@media (min-width: 600px) {
  html {
    --container-width: 60vw;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 16px;
  }
}
nav {
  display: flex;
  margin: 2rem;
}
nav .switch::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 2rem;
}
nav .moon {
  margin-left: auto;
}
nav .moon::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 2rem;
}

section {
  display: grid;
  height: 100vh;
}

footer {
  margin: 0 auto 1.5rem;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: currentColor;
  cursor: default;
}

button {
  background: var(--accent);
  color: var(--bg);
  font-family: Montserrat, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: none;
  border-radius: 2em;
  padding: 1em 2em;
  margin: 0 auto;
  transition: all ease 0.2s;
}

img {
  width: 100%;
  display: block;
}

input {
  width: 100%;
  background: var(--bg);
  color: var(--accent);
  margin-top: 0.25rem;
  padding: 0 0.5rem 0.75rem;
  font-family: Montserrat, Arial, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  border: 0;
  border-bottom: 5px solid var(--accent);
}

svg {
  height: 100%;
}

.container {
  width: var(--container-width);
  height: 80vh;
  align-self: center;
  justify-self: center;
}

.hidden {
  display: none !important;
}

.error {
  display: none;
  position: fixed;
  background: var(--bg);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}
.error .container {
  display: grid;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
}

.no-js body {
  overflow: hidden;
}
.no-js .error {
  display: grid;
}

@media (hover: hover) {
  button {
    cursor: pointer;
  }
  button.hover:hover {
    transform: scale(1.1);
  }

  .pointer {
    cursor: pointer;
  }
}
.index-slider .scroll-wrapper {
  transition: transform 0.5s;
}
.index-slider .controls {
  display: none;
  position: absolute;
  flex-direction: column;
  top: 50%;
  transform: translateY(-50%);
  right: 3rem;
  padding: 1rem;
  background: black;
  border-radius: 3rem;
}
.index-slider .button {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.75rem 0;
}
.index-slider .button::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 50%;
  left: 50%;
  background: white;
  opacity: 0.3;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.index-slider .button::after {
  content: "";
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  transform: scale(0.5);
  transition: transform 0.5s;
}
.index-slider .button.active::before, .index-slider .button:hover::before {
  opacity: 1;
}
.index-slider .button.active::after, .index-slider .button:hover::after {
  border: 1px solid white;
  transform: scale(1);
}

.index-first {
  grid-template-rows: auto 1fr;
}
.index-first .container {
  display: flex;
  height: auto;
}
.index-first .emojis {
  font-size: 5rem;
  margin: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: all ease-out 0.1s;
}

.index-second .container {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.index-second .img1,
.index-second .img2 {
  position: absolute;
  overflow: hidden;
}
.index-second .img2 {
  width: 50%;
}
.index-second .img {
  width: var(--container-width);
  height: 80vh;
}
.index-second .night {
  background: url(img/night.jpg) center/cover;
}
.index-second .day {
  background: url(img/day.jpg) center/cover;
}

.index-third .container {
  display: grid;
  align-content: space-evenly;
  height: auto;
  min-height: 80vh;
}
.index-third .content {
  display: grid;
  row-gap: 0.75rem;
  text-align: center;
}
.index-third span {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  font-size: 4.25rem;
  font-weight: bold;
  padding: 0 0.25em;
  border-radius: 10px;
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: white;
}
.index-third p {
  font-size: 1.5rem;
  font-weight: bold;
}

.index-fourth .container {
  display: grid;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}
.index-fourth .wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  transition: margin 0.6s;
}
.index-fourth img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.index-fourth .prev {
  position: absolute;
  left: 0px;
  align-self: center;
  color: white;
  padding: 0.25rem 1rem 0.25rem 0.5rem;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 0 1rem 1rem 0;
  box-shadow: 5px 2px 20px -10px rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}
.index-fourth .prev::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 4.5rem;
}
.index-fourth .next {
  position: absolute;
  right: 0px;
  align-self: center;
  color: white;
  padding: 0.25rem 0.5rem 0.25rem 1rem;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 1rem 0 0 1rem;
  box-shadow: -5px 2px 20px -10px rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}
.index-fourth .next::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 4.5rem;
}

.index-fifth .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.index-fifth svg {
  max-width: 100%;
  width: 35rem;
  filter: drop-shadow(0px 4px 8px #ff9100);
}
.index-fifth path {
  fill: none;
  stroke: #ff9100;
  stroke-width: 2px;
}

.index-sixth .container {
  position: relative;
  display: flex;
}
.index-sixth .menu {
  width: 100%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.index-sixth .elements {
  position: relative;
  height: 7rem;
  margin-top: 2rem;
}
.index-sixth .card {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(160deg, #2e2e2e, #1b1b1b);
  color: white;
  border-radius: 0.5em;
}
.index-sixth .welcome,
.index-sixth .fail {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.index-sixth .result {
  display: grid;
  grid-template-columns: 7rem 1fr;
  overflow: hidden;
}
.index-sixth .result-image {
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #7e7d7d, #606060);
}
.index-sixth .result-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
}
.index-sixth h2 {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}
.index-sixth .erreur {
  width: var(--container-width);
  height: 80vh;
  background: var(--bg);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.index-last {
  grid-template-rows: 1fr auto;
}
.index-last .bubbles {
  display: grid;
  position: relative;
}
.index-last .bubbles::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(225deg, #dd0808, #fced1f);
  -webkit-clip-path: circle(20% at 10% 40%);
          clip-path: circle(20% at 10% 40%);
}
.index-last .bubbles::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  background: linear-gradient(25deg, #0888dd, #f702ff);
  -webkit-clip-path: circle(30% at right 70%);
          clip-path: circle(30% at right 70%);
}
.index-last .container {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.index-last .card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 375px;
  max-width: 80vw;
  max-height: 80vh;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 40px -20px rgba(0, 0, 0, 0.4);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  overflow: hidden;
}
.index-last .card.backdropfilter {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.index-last .card:not(:first-child) {
  margin-left: 48px;
}
.index-last .content {
  display: grid;
  row-gap: 1.5rem;
  max-height: 100%;
  padding: 0 2rem;
  position: relative;
  text-align: center;
}
.index-last h2 {
  position: absolute;
  right: 1.75rem;
  font-size: 10rem;
  opacity: 0.3;
  pointer-events: none;
}
.index-last h3 {
  font-size: 2.5rem;
}
.index-last p {
  font-size: 1.25rem;
}

@media (hover: hover) {
  .index-slider {
    height: 100vh;
    overflow: hidden;
  }

  .index-first .emojis:hover {
    transform: scale(1.3);
  }

  .index-last .content {
    transform: translateY(7rem);
    opacity: 0;
    transition: all ease 0.8s;
  }
  .index-last .card:hover .content {
    transform: translateY(0rem);
    opacity: 1;
  }
}
@media (hover: hover) and (min-width: 992px) {
  .index-slider .controls {
    display: flex;
  }
}
.experiments-hybrid {
  position: relative;
  height: 200vh;
  overflow: hidden;
}

.experiments-first {
  width: 100%;
  background: var(--experiments);
  z-index: 1;
  grid-template-rows: auto 1fr;
}
.experiments-first nav {
  color: white;
}
.experiments-first .container {
  width: 100vw;
  height: 100%;
  max-height: calc(100vh - 6rem);
  display: flex;
  align-items: center;
  justify-content: center;
}
.experiments-first h2 {
  position: absolute;
  font-size: 1.5rem;
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.experiments-first .fireworks {
  z-index: 1;
}

.experiments-second {
  width: 100%;
}
.experiments-second .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.experiments-second .controls {
  width: 100%;
  max-width: 550px;
  margin: 0 auto 2rem;
}
.experiments-second .filter-icon {
  width: 7rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1px;
  font-weight: bold;
  background: linear-gradient(160deg, #2e2e2e, #1b1b1b);
  color: white;
  border-radius: 0.5em;
}
.experiments-second .filter-icon span::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 0.3rem;
}
.experiments-second .menu {
  width: 100%;
  max-width: 550px;
  height: auto;
  margin: 0 auto;
}
.experiments-second .elements {
  max-height: calc(80vh - 6rem);
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(auto-fit, 7rem);
  grid-template-columns: 100%;
  row-gap: 1rem;
  margin: 1px;
  overflow: hidden;
}
.experiments-second .result {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 7rem 1fr;
  border-radius: 0.5em;
  background: linear-gradient(160deg, #2e2e2e, #1b1b1b);
  color: white;
  overflow: hidden;
}
.experiments-second .result-image {
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #7e7d7d, #606060);
}
.experiments-second .result-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
  opacity: 0;
  transform: translateY(25px);
  transition: all 0.5s;
}
.experiments-second .result-text.loaded {
  opacity: 1;
  transform: translateY(0px);
}
.experiments-second h2 {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}
.experiments-second .fail {
  height: calc(80vh - 6rem);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.experiments-second .filters {
  width: var(--container-width);
  height: 80vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: var(--bg);
  font-weight: bold;
}
.experiments-second .criterias {
  display: grid;
  gap: 1rem;
  max-width: 550px;
  margin: 0 auto;
}
.experiments-second .criterias span {
  margin: 0.75rem auto auto;
}
.experiments-second .status,
.experiments-second .species,
.experiments-second .origin {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.experiments-second .criteria {
  background: grey;
  font-size: 0.75rem;
  margin: 0.25rem 0.5rem;
}
.experiments-second .criteria.active {
  background: var(--accent);
}
.experiments-second .buttons {
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  display: flex;
}
.experiments-second .buttons button {
  font-size: 0.75rem;
}
.experiments-second .erreur {
  width: var(--container-width);
  height: 80vh;
  background: var(--bg);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.experiments-fourth {
  position: relative;
  background: var(--experiments);
}

.experiments-fifth {
  position: relative;
  background: var(--bg);
}
.experiments-fifth .container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.experiments-fifth .success {
  border-bottom: 5px solid green;
}
.experiments-fifth .fail {
  border-bottom: 5px solid red;
}
.experiments-fifth button {
  margin-top: 2rem;
}

.experiments-last {
  position: relative;
  background: var(--experiments);
  grid-template-rows: 1fr auto;
}
.experiments-last .container {
  display: flex;
}
.experiments-last .card {
  display: flex;
  flex-direction: column;
  background: linear-gradient(160deg, #2e2e2e, #1b1b1b);
  color: white;
  box-shadow: 3px 3px 20px -10px black;
  border-radius: 1rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 1.5rem;
  margin: auto;
  transform-style: preserve-3d;
}
.experiments-last .card:hover .circle {
  transform: scale(0.5);
}
.experiments-last .card:hover img {
  transform: rotate(-25deg) translateZ(75px);
}
.experiments-last .card:hover .title {
  transform: scale(1.5) translateY(-15px);
}
.experiments-last .sneaker {
  position: relative;
  width: 20rem;
  height: 20rem;
  margin-bottom: 1rem;
}
.experiments-last .circle {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 50%;
  transition: all 0.5s;
}
.experiments-last img {
  position: absolute;
  transition: all 0.5s 0.1s;
}
.experiments-last .title {
  transition: all 0.5s;
}
.experiments-last footer {
  color: white;
}

@media (hover: hover) {
  .experiments-first,
.experiments-second {
    position: fixed;
  }
}
@media (orientation: landscape) and (max-height: 600px) {
  .experiments-second .criterias {
    grid-template-columns: auto 1fr;
  }
  .experiments-second .status,
.experiments-second .species,
.experiments-second .origin {
    justify-content: flex-start;
  }
}
@media (max-width: 992px) {
  .experiments-last .sneaker {
    width: 13rem;
    height: 13rem;
  }
}